:root{
    --color-dark: #000000;
    --color-editorial: #47adf1;
    --color-goals: #9c72e4;
    --color-recruiting: #94c0a9;
    --color-mobile: #F29E33;
    --color-website: #D863A1;
    --color-sales: #B0C926;
    --color-check: #6CC4AF;
    --color-cross: #EA4237;
    --color-background: #F6F8F9;
}