:root{
    --color-dark: #000000;
    --color-editorial: #47adf1;
    --color-goals: #9c72e4;
    --color-recruiting: #94c0a9;
    --color-mobile: #F29E33;
    --color-website: #D863A1;
    --color-sales: #B0C926;
    --color-check: #6CC4AF;
    --color-cross: #EA4237;
    --color-background: #F6F8F9;
    --color-background-section: white;
    --color-text: white;
}

body{
    background-color: var(--color-background);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: var(--color-background-section);
}

.logo{
    height: 50px;
    margin: 0.5rem 0rem 0.5rem 0;
    vertical-align: middle;
}

#text_logo{
    color: var(--color-dark);
    font-size: 2.5rem;
    vertical-align: middle;

}

.buttons button{
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1{
  background-color: var(--color-editorial);
  color: var(--color-text);
}

.button2{
    background-color: none;
    color: lightgrey;
}

hr{
    color: var(--color-background);
}


button{
  border: none;
  border-radius: 10px;
  padding: 8px 15px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2 px;;
  color: var(--color-text);
  cursor: pointer;
}

.editorials{
    background-color: var(--color-editorial);
}

.goals{
    background-color: var(--color-goals);
}

.recruiting{
    background-color: var(--color-recruiting);
}

.mobile{
    background-color: var(--color-mobile);
}

.website{
    background-color: var(--color-website);
}

.sales{
    background-color: var(--color-sales);  
}